In [2]:
import requests
import pandas as pd
import datetime

# fetch data

In [95]:
parameters = {"page": 1, "perPage": 10000}
response_matches = requests.get("https://api.godsunchained.com/v0/match", params=parameters)
df_total = pd.DataFrame(response_matches.json()['records'])
df_total

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,1585717559,1585717718,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,1585717748,1585718375,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,1585618339,1585618493,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,1585618479,1585618521,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,1585618552,1585618592,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
9995,438,99351,13,486c1bf6-d9f2-6f97-98a8-e94baa3f388a,1585947823,1585948910,"[{'user_id': 438, 'health': 13, 'status': 'con...",30,15
9996,34989,3427,13,02e261a7-e069-d6bd-81c5-12d03d581cd1,1585948350,1585948967,"[{'user_id': 34989, 'health': 29, 'status': 'c...",24,12
9997,73041,1947,13,a891b51d-a9e0-8740-a2d9-0350b18954ad,1585948611,1585948995,"[{'user_id': 73041, 'health': 6, 'status': 'co...",15,8
9998,32379,759,13,41af8ce9-f327-49bf-121b-74dec43758d2,1585948618,1585949011,"[{'user_id': 32379, 'health': 29, 'status': 'c...",17,9
9999,40906,79626,13,bbed5cd8-0e99-653e-145b-51b18802cd68,1585948376,1585949022,"[{'user_id': 40906, 'health': 30, 'status': 'c...",18,9

In [96]:
for p in range(2, 196074//10000 + 2):
    print("page", p)
    parameters = {"page": p, "perPage": 10000}
    response_matches = requests.get("https://api.godsunchained.com/v0/match", params=parameters)
    df_total = df_total.append(pd.DataFrame(response_matches.json()['records']))

page 2
page 3
page 4
page 5
page 6
page 7
page 8
page 9
page 10
page 11
page 12
page 13
page 14
page 15
page 16
page 17
page 18
page 19
page 20

In [97]:
df_total

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,1585717559,1585717718,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,1585717748,1585718375,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,1585618339,1585618493,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,1585618479,1585618521,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,1585618552,1585618592,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
6139,123600,123871,13,2b690fd1-f84f-7bf1-e736-bbddae52aee4,1589828954,1589829446,"[{'user_id': 123600, 'health': 22, 'status': '...",15,8
6140,3663,84358,13,09afd8b1-9ce1-3b2a-5156-87d235256b44,1589828537,1589829501,"[{'user_id': 3663, 'health': 9, 'status': 'con...",40,20
6141,37040,12646,13,afb5feb7-674c-d925-3452-79ed15262f26,1589828969,1589829692,"[{'user_id': 37040, 'health': 26, 'status': 'c...",22,11
6142,90861,38684,13,c3b17d5d-5027-f95b-be1e-a0e59e37d588,1589829013,1589829737,"[{'user_id': 90861, 'health': 30, 'status': 'c...",29,15
6143,464,72639,13,a0dc3d56-09fc-a247-9f7a-378655b652f3,1589829456,1589829887,"[{'user_id': 464, 'health': 28, 'status': 'con...",16,8

In [99]:
df_total.to_csv("matches.csv")

In [89]:
parameters = {"page": 1, "perPage": 10000}
response_matches = requests.get("https://api.godsunchained.com/v0/proto", params=parameters)
df_total = pd.DataFrame(response_matches.json()['records'])
df_total

,id,name,effect,god,rarity,tribe,mana,attack,health,type,live,set,collectable
0,1208,Mammon's Stalwart,Frontline.<br>Roar: Summon a 2/2 Netherling.,neutral,common,"{'String': 'nether', 'Valid': True}",6,"{'Int64': 3, 'Valid': True}","{'Int64': 6, 'Valid': True}",creature,true,core,True
1,28,Apate Conspirator,Roar: Confuse a random enemy creature.,deception,rare,"{'String': 'guild', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,genesis,True
2,46,Untold Greed,Destroy target friendly creature.<br>Draw two ...,death,rare,"{'String': '', 'Valid': False}",1,"{'Int64': 0, 'Valid': False}","{'Int64': 0, 'Valid': False}",spell,true,genesis,True
3,1076,Battlebard,Roar: Give a friendly Viking +2 strength.,neutral,epic,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,True
4,1077,Trial Spirit,Roar: Give a friendly creature +1 health.,neutral,common,"{'String': 'aether', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 3, 'Valid': True}",creature,true,core,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,100138,Netherspawn,,neutral,common,"{'String': 'nether', 'Valid': True}",6,"{'Int64': 6, 'Valid': True}","{'Int64': 6, 'Valid': True}",creature,true,core,False
905,100139,Demonic Skull,,death,common,"{'String': '', 'Valid': False}",10,"{'Int64': 9, 'Valid': True}","{'Int64': 9, 'Valid': True}",creature,true,core,False
906,100140,Battlethrall,,neutral,common,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,False
907,100141,Huscarl,Frontline.,neutral,common,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,False
908,100142,Propyrean Owl,Frontline.,neutral,rare,"{'String': '', 'Valid': False}",3,"{'Int64': 4, 'Valid': True}","{'Int64': 2, 'Valid': True}",creature,true,core,False

In [90]:
df_total.to_csv("cards.csv")

# feature engineering

In [33]:
df= pd.read_csv("matches.csv")
df = df.drop("Unnamed: 0", axis= 1)
df

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,1585717559,1585717718,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,1585717748,1585718375,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,1585618339,1585618493,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,1585618479,1585618521,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,1585618552,1585618592,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
196139,123600,123871,13,2b690fd1-f84f-7bf1-e736-bbddae52aee4,1589828954,1589829446,"[{'user_id': 123600, 'health': 22, 'status': '...",15,8
196140,3663,84358,13,09afd8b1-9ce1-3b2a-5156-87d235256b44,1589828537,1589829501,"[{'user_id': 3663, 'health': 9, 'status': 'con...",40,20
196141,37040,12646,13,afb5feb7-674c-d925-3452-79ed15262f26,1589828969,1589829692,"[{'user_id': 37040, 'health': 26, 'status': 'c...",22,11
196142,90861,38684,13,c3b17d5d-5027-f95b-be1e-a0e59e37d588,1589829013,1589829737,"[{'user_id': 90861, 'health': 30, 'status': 'c...",29,15
196143,464,72639,13,a0dc3d56-09fc-a247-9f7a-378655b652f3,1589829456,1589829887,"[{'user_id': 464, 'health': 28, 'status': 'con...",16,8

In [34]:
def unix2iso(unix):
    return datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S')
df['start_time'] = df['start_time'].apply(unix2iso)
df['end_time'] = df['end_time'].apply(unix2iso)

In [38]:
df_unique = df.drop_duplicates()
df_unique = df_unique[df_unique['game_mode']==13]
df_unique

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,2020-04-01 01:05:59,2020-04-01 01:08:38,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,2020-04-01 01:09:08,2020-04-01 01:19:35,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,2020-03-30 21:32:19,2020-03-30 21:34:53,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,2020-03-30 21:34:39,2020-03-30 21:35:21,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,2020-03-30 21:35:52,2020-03-30 21:36:32,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
196139,123600,123871,13,2b690fd1-f84f-7bf1-e736-bbddae52aee4,2020-05-18 15:09:14,2020-05-18 15:17:26,"[{'user_id': 123600, 'health': 22, 'status': '...",15,8
196140,3663,84358,13,09afd8b1-9ce1-3b2a-5156-87d235256b44,2020-05-18 15:02:17,2020-05-18 15:18:21,"[{'user_id': 3663, 'health': 9, 'status': 'con...",40,20
196141,37040,12646,13,afb5feb7-674c-d925-3452-79ed15262f26,2020-05-18 15:09:29,2020-05-18 15:21:32,"[{'user_id': 37040, 'health': 26, 'status': 'c...",22,11
196142,90861,38684,13,c3b17d5d-5027-f95b-be1e-a0e59e37d588,2020-05-18 15:10:13,2020-05-18 15:22:17,"[{'user_id': 90861, 'health': 30, 'status': 'c...",29,15
196143,464,72639,13,a0dc3d56-09fc-a247-9f7a-378655b652f3,2020-05-18 15:17:36,2020-05-18 15:24:47,"[{'user_id': 464, 'health': 28, 'status': 'con...",16,8

In [ ]:
df_unique.to_csv("df_unique.csv")