In [1]:
import requests
import pandas as pd
import datetime
import random
random.seed(0)

# fetch data

In [95]:
parameters = {"page": 1, "perPage": 10000}
response_matches = requests.get("https://api.godsunchained.com/v0/match", params=parameters)
df_total = pd.DataFrame(response_matches.json()['records'])
df_total

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,1585717559,1585717718,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,1585717748,1585718375,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,1585618339,1585618493,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,1585618479,1585618521,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,1585618552,1585618592,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
9995,438,99351,13,486c1bf6-d9f2-6f97-98a8-e94baa3f388a,1585947823,1585948910,"[{'user_id': 438, 'health': 13, 'status': 'con...",30,15
9996,34989,3427,13,02e261a7-e069-d6bd-81c5-12d03d581cd1,1585948350,1585948967,"[{'user_id': 34989, 'health': 29, 'status': 'c...",24,12
9997,73041,1947,13,a891b51d-a9e0-8740-a2d9-0350b18954ad,1585948611,1585948995,"[{'user_id': 73041, 'health': 6, 'status': 'co...",15,8
9998,32379,759,13,41af8ce9-f327-49bf-121b-74dec43758d2,1585948618,1585949011,"[{'user_id': 32379, 'health': 29, 'status': 'c...",17,9
9999,40906,79626,13,bbed5cd8-0e99-653e-145b-51b18802cd68,1585948376,1585949022,"[{'user_id': 40906, 'health': 30, 'status': 'c...",18,9

In [96]:
for p in range(2, 196074//10000 + 2):
    print("page", p)
    parameters = {"page": p, "perPage": 10000}
    response_matches = requests.get("https://api.godsunchained.com/v0/match", params=parameters)
    df_total = df_total.append(pd.DataFrame(response_matches.json()['records']))

page 2
page 3
page 4
page 5
page 6
page 7
page 8
page 9
page 10
page 11
page 12
page 13
page 14
page 15
page 16
page 17
page 18
page 19
page 20

In [97]:
df_total

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,1585717559,1585717718,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,1585717748,1585718375,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,1585618339,1585618493,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,1585618479,1585618521,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,1585618552,1585618592,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
6139,123600,123871,13,2b690fd1-f84f-7bf1-e736-bbddae52aee4,1589828954,1589829446,"[{'user_id': 123600, 'health': 22, 'status': '...",15,8
6140,3663,84358,13,09afd8b1-9ce1-3b2a-5156-87d235256b44,1589828537,1589829501,"[{'user_id': 3663, 'health': 9, 'status': 'con...",40,20
6141,37040,12646,13,afb5feb7-674c-d925-3452-79ed15262f26,1589828969,1589829692,"[{'user_id': 37040, 'health': 26, 'status': 'c...",22,11
6142,90861,38684,13,c3b17d5d-5027-f95b-be1e-a0e59e37d588,1589829013,1589829737,"[{'user_id': 90861, 'health': 30, 'status': 'c...",29,15
6143,464,72639,13,a0dc3d56-09fc-a247-9f7a-378655b652f3,1589829456,1589829887,"[{'user_id': 464, 'health': 28, 'status': 'con...",16,8

In [99]:
df_total.to_csv("matches.csv")

In [89]:
parameters = {"page": 1, "perPage": 10000}
response_matches = requests.get("https://api.godsunchained.com/v0/proto", params=parameters)
df_total = pd.DataFrame(response_matches.json()['records'])
df_total

,id,name,effect,god,rarity,tribe,mana,attack,health,type,live,set,collectable
0,1208,Mammon's Stalwart,Frontline.<br>Roar: Summon a 2/2 Netherling.,neutral,common,"{'String': 'nether', 'Valid': True}",6,"{'Int64': 3, 'Valid': True}","{'Int64': 6, 'Valid': True}",creature,true,core,True
1,28,Apate Conspirator,Roar: Confuse a random enemy creature.,deception,rare,"{'String': 'guild', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,genesis,True
2,46,Untold Greed,Destroy target friendly creature.<br>Draw two ...,death,rare,"{'String': '', 'Valid': False}",1,"{'Int64': 0, 'Valid': False}","{'Int64': 0, 'Valid': False}",spell,true,genesis,True
3,1076,Battlebard,Roar: Give a friendly Viking +2 strength.,neutral,epic,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,True
4,1077,Trial Spirit,Roar: Give a friendly creature +1 health.,neutral,common,"{'String': 'aether', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 3, 'Valid': True}",creature,true,core,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,100138,Netherspawn,,neutral,common,"{'String': 'nether', 'Valid': True}",6,"{'Int64': 6, 'Valid': True}","{'Int64': 6, 'Valid': True}",creature,true,core,False
905,100139,Demonic Skull,,death,common,"{'String': '', 'Valid': False}",10,"{'Int64': 9, 'Valid': True}","{'Int64': 9, 'Valid': True}",creature,true,core,False
906,100140,Battlethrall,,neutral,common,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,False
907,100141,Huscarl,Frontline.,neutral,common,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,true,core,False
908,100142,Propyrean Owl,Frontline.,neutral,rare,"{'String': '', 'Valid': False}",3,"{'Int64': 4, 'Valid': True}","{'Int64': 2, 'Valid': True}",creature,true,core,False

In [90]:
df_total.to_csv("cards.csv")

# unique matches

In [2]:
df= pd.read_csv("matches.csv")
df = df.drop("Unnamed: 0", axis= 1)
df

FileNotFoundError: File b'matches.csv' does not exist

In [34]:
def unix2iso(unix):
    return datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S')
df['start_time'] = df['start_time'].apply(unix2iso)
df['end_time'] = df['end_time'].apply(unix2iso)

In [38]:
df_unique = df.drop_duplicates()
df_unique = df_unique[df_unique['game_mode']==13]
df_unique

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,100089,38404,13,88d2b758-f918-2890-b237-e79551171ecd,2020-04-01 01:05:59,2020-04-01 01:08:38,"[{'user_id': 100089, 'health': 30, 'status': '...",5,3
1,99882,100089,13,bde4cdb7-cd51-abcd-cb2e-28a454622f60,2020-04-01 01:09:08,2020-04-01 01:19:35,"[{'user_id': 99882, 'health': 22, 'status': 'c...",16,8
2,99903,99908,13,1039d406-0c1f-50c2-6b1d-313a58b3ab05,2020-03-30 21:32:19,2020-03-30 21:34:53,"[{'user_id': 99903, 'health': 30, 'status': 'c...",33,17
3,7206,96145,13,71eb9a09-6dae-19ec-62df-7b5fb1339ebf,2020-03-30 21:34:39,2020-03-30 21:35:21,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
4,7206,96145,13,46a087b0-9328-d186-1239-37f47b13e145,2020-03-30 21:35:52,2020-03-30 21:36:32,"[{'user_id': 7206, 'health': 30, 'status': 'co...",1,1
...,...,...,...,...,...,...,...,...,...
196139,123600,123871,13,2b690fd1-f84f-7bf1-e736-bbddae52aee4,2020-05-18 15:09:14,2020-05-18 15:17:26,"[{'user_id': 123600, 'health': 22, 'status': '...",15,8
196140,3663,84358,13,09afd8b1-9ce1-3b2a-5156-87d235256b44,2020-05-18 15:02:17,2020-05-18 15:18:21,"[{'user_id': 3663, 'health': 9, 'status': 'con...",40,20
196141,37040,12646,13,afb5feb7-674c-d925-3452-79ed15262f26,2020-05-18 15:09:29,2020-05-18 15:21:32,"[{'user_id': 37040, 'health': 26, 'status': 'c...",22,11
196142,90861,38684,13,c3b17d5d-5027-f95b-be1e-a0e59e37d588,2020-05-18 15:10:13,2020-05-18 15:22:17,"[{'user_id': 90861, 'health': 30, 'status': 'c...",29,15
196143,464,72639,13,a0dc3d56-09fc-a247-9f7a-378655b652f3,2020-05-18 15:17:36,2020-05-18 15:24:47,"[{'user_id': 464, 'health': 28, 'status': 'con...",16,8

In [ ]:
df_unique.to_csv("df_unique.csv")

# feature engineering

In [2]:
df_unique = pd.read_csv("df_unique.csv")
df_unique = df_unique.drop("Unnamed: 0", axis= 1)
df_unique = df_unique.sort_values(by="start_time")
df_unique = df_unique.reset_index(drop=True)
df_unique.head()

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,6429,90576,13,3510ae44-0ecf-a3ae-6641-deaaf6758e90,2020-03-30 21:13:52,2020-03-30 21:39:27,"[{'user_id': 6429, 'health': 20, 'status': 'co...",38,19
1,17040,2162,13,c37f490c-9765-b8cd-dbb2-48c222281388,2020-03-30 21:14:58,2020-03-30 21:39:27,"[{'user_id': 17040, 'health': 17, 'status': 'c...",48,24
2,6839,1329,13,bc6b823b-3bf6-563a-48c8-8f6e8e6aa09e,2020-03-30 21:21:18,2020-03-30 21:36:03,"[{'user_id': 6839, 'health': 30, 'status': 'co...",34,17
3,83661,1422,13,5a28d5c7-1c45-edf9-fe6e-70cee6ab58a5,2020-03-30 21:22:53,2020-03-30 21:38:54,"[{'user_id': 83661, 'health': 14, 'status': 'c...",34,17
4,914,96505,13,f5812caa-faa7-5a5e-6f3d-2d9ad64d9931,2020-03-30 21:23:01,2020-03-30 21:40:12,"[{'user_id': 914, 'health': 27, 'status': 'con...",32,16

In [3]:
df = df_unique.head(1000)
df.head()

,player_won,player_lost,game_mode,game_id,start_time,end_time,player_info,total_turns,total_rounds
0,6429,90576,13,3510ae44-0ecf-a3ae-6641-deaaf6758e90,2020-03-30 21:13:52,2020-03-30 21:39:27,"[{'user_id': 6429, 'health': 20, 'status': 'co...",38,19
1,17040,2162,13,c37f490c-9765-b8cd-dbb2-48c222281388,2020-03-30 21:14:58,2020-03-30 21:39:27,"[{'user_id': 17040, 'health': 17, 'status': 'c...",48,24
2,6839,1329,13,bc6b823b-3bf6-563a-48c8-8f6e8e6aa09e,2020-03-30 21:21:18,2020-03-30 21:36:03,"[{'user_id': 6839, 'health': 30, 'status': 'co...",34,17
3,83661,1422,13,5a28d5c7-1c45-edf9-fe6e-70cee6ab58a5,2020-03-30 21:22:53,2020-03-30 21:38:54,"[{'user_id': 83661, 'health': 14, 'status': 'c...",34,17
4,914,96505,13,f5812caa-faa7-5a5e-6f3d-2d9ad64d9931,2020-03-30 21:23:01,2020-03-30 21:40:12,"[{'user_id': 914, 'health': 27, 'status': 'con...",32,16

# all unique card IDs

In [4]:
all_unique_cards = set()
for i,row in df_unique.iterrows():
    player_info = eval(row['player_info'])
    all_unique_cards = all_unique_cards.union(set(player_info[0]['cards']))
    all_unique_cards = all_unique_cards.union(set(player_info[1]['cards']))

# card info

In [5]:
cards = pd.read_csv("cards.csv")
cards = cards.drop("Unnamed: 0", axis=1)
cards.head()

,id,name,effect,god,rarity,tribe,mana,attack,health,type,live,set,collectable
0,1208,Mammon's Stalwart,Frontline.<br>Roar: Summon a 2/2 Netherling.,neutral,common,"{'String': 'nether', 'Valid': True}",6,"{'Int64': 3, 'Valid': True}","{'Int64': 6, 'Valid': True}",creature,True,core,True
1,28,Apate Conspirator,Roar: Confuse a random enemy creature.,deception,rare,"{'String': 'guild', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,True,genesis,True
2,46,Untold Greed,Destroy target friendly creature.<br>Draw two ...,death,rare,"{'String': '', 'Valid': False}",1,"{'Int64': 0, 'Valid': False}","{'Int64': 0, 'Valid': False}",spell,True,genesis,True
3,1076,Battlebard,Roar: Give a friendly Viking +2 strength.,neutral,epic,"{'String': 'viking', 'Valid': True}",1,"{'Int64': 2, 'Valid': True}","{'Int64': 1, 'Valid': True}",creature,True,core,True
4,1077,Trial Spirit,Roar: Give a friendly creature +1 health.,neutral,common,"{'String': 'aether', 'Valid': True}",1,"{'Int64': 1, 'Valid': True}","{'Int64': 3, 'Valid': True}",creature,True,core,True

In [6]:
cards_map = {}
for i, row in cards.iterrows():
    cards_map[row['id']] = row

In [7]:
player_id2skill = {}

def get_player_skill(player_id):
    '''
    create empty template given a player id
    '''
    if player_id not in player_id2skill:
        player_id2skill[player_id] = {
            'num_games_played': 0,
            'num_games_played_per_god': {
                'nature': 0,
                'death': 0,
                'deception': 0,
                'light': 0,
                'magic': 0,
                'war': 0
            },
            'num_games_won': 0,
            'num_games_won_per_god': {
                'nature': 0,
                'death': 0,
                'deception': 0,
                'light': 0,
                'magic': 0,
                'war': 0
            }
        }
    return player_id2skill[player_id]

def update_player_skill(player_id, did_win, god):
    player_id2skill[player_id]['num_games_played'] += 1
    player_id2skill[player_id]['num_games_played_per_god'][god] += 1
    if did_win:
        player_id2skill[player_id]['num_games_won'] += 1
        player_id2skill[player_id]['num_games_won_per_god'][god] += 1

In [8]:
def construct_player_card_info(player_info):
    '''

    given player info, construct the following columns:
   'player_god',
   'player_god_power',
   'player_deck_avg_mana_cost',
   'player_deck_num_creatures',
   'player_deck_num_spells',
   'player_deck_num_weapons',
   'player_deck_avg_creature_strength',
   'player_deck_avg_creature_health', 
   'player_card_i',
    '''
    player_god = player_info['god']
    player_god_power = player_info['god_power']
    player_deck_avg_mana_cost = 0
    player_deck_num_creatures = 0
    player_deck_num_spells = 0
    player_deck_num_weapons = 0
    player_deck_avg_creature_strength = 0
    player_deck_avg_creature_health = 0
    player_card_k_dict = {}
    
    total_mana_cost = 0
    total_creature_strength = 0
    total_creature_health = 0
    
    # create empty dictionary of all unique cards
    for uid in all_unique_cards:
        player_card_k_dict[uid] = 0
    
    # iterate through card id's in player's deck
    for uid in player_info['cards']:
        card_info = cards_map[uid]
        player_card_k_dict[uid] += 1
        total_mana_cost += card_info['mana']
        if card_info['type'] == "creature":
            player_deck_num_creatures += 1
            if eval(card_info['attack'])['Valid']:
                total_creature_strength +=  eval(card_info['attack'])['Int64']
            if eval(card_info['health'])['Valid']:
                total_creature_health +=  eval(card_info['health'])['Int64']
        elif card_info['type'] == 'spell':
            player_deck_num_spells += 1
        elif card_info['type'] == "weapon":
            player_deck_num_weapons += 1\
    
    player_deck_avg_mana_cost = total_mana_cost / 30
    player_deck_avg_creature_strength = total_creature_strength / player_deck_num_creatures
    player_deck_avg_creature_health = total_creature_health / player_deck_num_creatures

    
    return {"player_god": player_god,
            "player_god_power": player_god_power,
            "player_deck_avg_mana_cost": player_deck_avg_mana_cost,
            "player_deck_num_creatures": player_deck_num_creatures,
            "player_deck_num_spells": player_deck_num_spells,
            "player_deck_num_weapons": player_deck_num_weapons,
            "player_deck_avg_creature_strength": player_deck_avg_creature_strength,
            "player_deck_avg_creature_health": player_deck_avg_creature_health,
            "player_card_k_dict": player_card_k_dict}

In [9]:
colnames = ['outcome', #1 if player i wins over player j
           'start_time',
           'player_i_id',
           'player_i_god',
           'player_i_god_power',
           'player_i_god_win_ratio',
           'player_i_god_games_played',
           'player_i_games_played',
           'player_i_deck_avg_mana_cost',
           'player_i_deck_num_creatures',
           'player_i_deck_num_spells',
           'player_i_deck_num_weapons',
           'player_i_deck_avg_creature_strength',
           'player_i_deck_avg_creature_health',           
           'player_j_id',
           'player_j_god',
           'player_j_god_power',
           'player_j_god_win_ratio',
           'player_j_god_games_played',
           'player_j_games_played',
           'player_j_deck_avg_mana_cost',
           'player_j_deck_num_creatures',
           'player_j_deck_num_spells',
           'player_j_deck_num_weapons',
           'player_j_deck_avg_creature_strength',
           'player_j_deck_avg_creature_health'
           ]
print(len(colnames))
for uid in all_unique_cards:
    colnames.append("player_i_card_{}".format(uid))
for uid in all_unique_cards:
    colnames.append("player_j_card_{}".format(uid))

26

In [18]:
import time
now = time.time()
df_processed = None
player_id2skill = {}
for i, row in df_unique.iterrows():
    print(i, time.time() -now)
    curr_row_dict = {}
    
    player_info = eval(row['player_info'])
    
    #randomly place winner as player i or player j
    if random.random() <= 1:
        player_i = player_info[0]
        player_j = player_info[1]
        curr_row_dict['outcome'] = 1 
    else:
        player_i = player_info[1]
        player_j = player_info[0]
        curr_row_dict['outcome'] = 0

    curr_row_dict['start_time'] = row['start_time']
    player_i_card_info = construct_player_card_info(player_i)
    player_i_skill = get_player_skill(player_i["user_id"])
    
    curr_row_dict['player_i_id'] = player_i["user_id"]
    curr_row_dict['player_i_god'] = player_i_card_info["player_god"]
    curr_row_dict['player_i_god_power'] = player_i_card_info["player_god_power"]
    
    num_games_won = player_i_skill
    curr_row_dict['player_i_god_games_played'] = player_i_skill['num_games_played_per_god'][player_i_card_info["player_god"]]
    curr_row_dict['player_i_god_win_ratio'] = player_i_skill['num_games_won_per_god'][player_i_card_info["player_god"]] / curr_row_dict['player_i_god_games_played'] if curr_row_dict['player_i_god_games_played'] > 0 else 0
    curr_row_dict['player_i_games_played'] = player_i_skill['num_games_played']
    curr_row_dict['player_i_deck_avg_mana_cost'] = player_i_card_info["player_deck_avg_mana_cost"]
    curr_row_dict['player_i_deck_num_creatures'] = player_i_card_info["player_deck_num_creatures"]
    curr_row_dict['player_i_deck_num_spells'] = player_i_card_info["player_deck_num_spells"]
    curr_row_dict['player_i_deck_num_weapons'] = player_i_card_info["player_deck_num_weapons"]
    curr_row_dict['player_i_deck_avg_creature_strength'] = player_i_card_info["player_deck_avg_creature_strength"]
    curr_row_dict['player_i_deck_avg_creature_health'] = player_i_card_info["player_deck_avg_creature_health"]

    update_player_skill(player_id=player_i["user_id"],
                       did_win=curr_row_dict['outcome'],
                       god=player_i_card_info["player_god"])
    
    for card_uid in player_i_card_info["player_card_k_dict"]:
        curr_row_dict["player_i_card_{}".format(card_uid)] = player_i_card_info["player_card_k_dict"][card_uid]
    
    player_i_card_info = construct_player_card_info(player_i)
    player_i_skill = get_player_skill(player_i["user_id"])
    
    curr_row_dict['player_i_id'] = player_i["user_id"]
    curr_row_dict['player_i_god'] = player_i_card_info["player_god"]
    curr_row_dict['player_i_god_power'] = player_i_card_info["player_god_power"]
    
    num_games_won = player_i_skill
    curr_row_dict['player_i_god_games_played'] = player_i_skill['num_games_played_per_god'][player_i_card_info["player_god"]]
    curr_row_dict['player_i_god_win_ratio'] = player_i_skill['num_games_won_per_god'][player_i_card_info["player_god"]] / curr_row_dict['player_i_god_games_played'] if curr_row_dict['player_i_god_games_played'] > 0 else 0
    curr_row_dict['player_i_games_played'] = player_i_skill['num_games_played']
    curr_row_dict['player_i_deck_avg_mana_cost'] = player_i_card_info["player_deck_avg_mana_cost"]
    curr_row_dict['player_i_deck_num_creatures'] = player_i_card_info["player_deck_num_creatures"]
    curr_row_dict['player_i_deck_num_spells'] = player_i_card_info["player_deck_num_spells"]
    curr_row_dict['player_i_deck_num_weapons'] = player_i_card_info["player_deck_num_weapons"]
    curr_row_dict['player_i_deck_avg_creature_strength'] = player_i_card_info["player_deck_avg_creature_strength"]
    curr_row_dict['player_i_deck_avg_creature_health'] = player_i_card_info["player_deck_avg_creature_health"]

    update_player_skill(player_id=player_i["user_id"],
                       did_win=curr_row_dict['outcome'],
                       god=player_i_card_info["player_god"])
    
    for card_uid in player_i_card_info["player_card_k_dict"]:
        curr_row_dict["player_i_card_{}".format(card_uid)] = player_i_card_info["player_card_k_dict"][card_uid]
        player_j_card_info = construct_player_card_info(player_j)
        
    player_j_skill = get_player_skill(player_j["user_id"])
    
    curr_row_dict['player_j_id'] = player_j["user_id"]
    curr_row_dict['player_j_god'] = player_j_card_info["player_god"]
    curr_row_dict['player_j_god_power'] = player_j_card_info["player_god_power"]
    
    num_games_won = player_j_skill
    curr_row_dict['player_j_god_games_played'] = player_j_skill['num_games_played_per_god'][player_j_card_info["player_god"]]
    curr_row_dict['player_j_god_win_ratio'] = player_j_skill['num_games_won_per_god'][player_j_card_info["player_god"]] / curr_row_dict['player_j_god_games_played'] if curr_row_dict['player_j_god_games_played'] > 0 else 0
    curr_row_dict['player_j_games_played'] = player_j_skill['num_games_played']
    curr_row_dict['player_j_deck_avg_mana_cost'] = player_j_card_info["player_deck_avg_mana_cost"]
    curr_row_dict['player_j_deck_num_creatures'] = player_j_card_info["player_deck_num_creatures"]
    curr_row_dict['player_j_deck_num_spells'] = player_j_card_info["player_deck_num_spells"]
    curr_row_dict['player_j_deck_num_weapons'] = player_j_card_info["player_deck_num_weapons"]
    curr_row_dict['player_j_deck_avg_creature_strength'] = player_j_card_info["player_deck_avg_creature_strength"]
    curr_row_dict['player_j_deck_avg_creature_health'] = player_j_card_info["player_deck_avg_creature_health"]

    update_player_skill(player_id=player_j["user_id"],
                       did_win=curr_row_dict['outcome'],
                       god=player_j_card_info["player_god"])
    
    for card_uid in player_j_card_info["player_card_k_dict"]:
        curr_row_dict["player_j_card_{}".format(card_uid)] = player_j_card_info["player_card_k_dict"][card_uid]
    
    curr_row_df = pd.DataFrame.from_dict([curr_row_dict])
    curr_row_df = curr_row_df[colnames]
    
    if df_processed is None:
        df_processed = curr_row_df
    else:
        df_processed = df_processed.append(curr_row_df)

0 0.04601311683654785
1 1.597365140914917
2 2.796635627746582
3 3.9211690425872803
4 5.326487064361572
5 6.633127212524414
6 8.032155513763428
7 9.45792818069458
8 10.557084083557129
9 11.735768556594849
10 13.19662594795227
11 14.183491230010986
12 15.307763814926147
13 16.32083797454834
14 17.447935581207275
15 18.835583209991455
16 20.214996576309204
17 21.43047571182251
18 22.707067012786865
19 23.9851016998291
20 25.552961111068726
21 26.761852502822876
22 28.124175548553467
23 29.450496673583984
24 30.712491273880005
25 31.94167399406433
26 33.3185293674469
27 34.75535011291504
28 36.13224267959595
29 37.5345675945282
30 38.704641580581665
31 40.088160276412964
32 41.27236294746399
33 42.37873148918152
34 43.70369744300842
35 44.955649852752686
36 45.79415941238403
37 47.04307746887207
38 48.40926790237427
39 49.62108373641968
40 51.05837678909302
41 52.113611698150635
42 53.49350690841675
43 54.8058135509491
44 56.16395378112793
45 57.12870717048645
46 58.42455172538757
47 59.65216374397278
48 60.912611961364746
49 62.07943034172058
50 63.26969933509827
51 64.88112044334412
52 66.03955578804016

KeyboardInterrupt:

In [15]:
import time

1591686340.0732932